<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jaxhutton.pbhshelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="m">
        <activity
            android:name="com.jaxhutton.pbhshelper.TeacherActivity"
            android:label="@string/teacher"
            android:parentActivityName="com.jaxhutton.pbhshelper.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaxhutton.pbhshelper.MainActivity" />
        </activity>
        <activity
            android:name="com.jaxhutton.pbhshelper.AssignmentsActivity"
            android:label="@string/title_activity_assignments"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.jaxhutton.pbhshelper.GradesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaxhutton.pbhshelper.GradesActivity" />
        </activity>
        <activity
            android:name="com.jaxhutton.pbhshelper.CalenderActivity"
            android:label="@string/title_activity_calender"
            android:parentActivityName="com.jaxhutton.pbhshelper.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaxhutton.pbhshelper.MainActivity" />
        </activity>
        <activity
            android:name="com.jaxhutton.pbhshelper.GradesActivity"
            android:label="@string/title_activity_grades"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.jaxhutton.pbhshelper.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.jaxhutton.pbhshelper.MainActivity" />
        </activity>
        <activity android:name="com.jaxhutton.pbhshelper.MainActivity" />
        <activity
            android:name="com.jaxhutton.pbhshelper.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.jaxhutton.pbhshelper.LauncherActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>